:root {

  --color-background: #0a0a0a;
  --color-surface: #111111;
  --color-surface-hover: #181818;

  --color-primary: #d4af37;
  --color-primray-hover: #e5c45a;

  --color-text: #f5f5f5;
  --color-text-secondary: #b5b5b5;
  --color-text-muted: #737373;

  --color-border: rgba(255, 255, 255, 0.08);


}
